@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto',
        sans-serif;

}

/* Typography
================================================== */

body {
    background: #fff;
    color: #555;
    font-weight: 300;
}

.bg {
    background-color: #f5f6f7;
}

/* Global styles
================================================== */

html {
    width: 100%;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    position: relative;
    /* min-height: 100%; */
}

/* textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active {
  outline: 0px !important;
  -webkit-appearance: none;
  box-shadow: none !important;
} */

a:link,
a:visited {
    text-decoration: none;
}

a {
    color: inherit;
    transition: 0.2s ease;
}

a:hover {
    text-decoration: none;
    color: #000;
}

.container-max {
    max-width: 1750px;
    width: 100%;
    margin: 0 auto;
}

.head-logo {
    color: #99cccc !important;
    font-size: 60px;
    font-weight: 900;
}

.register-link {
    font-size: 22px;
    font-weight: 600;
    color: #181818;
}

.login-link {
    font-size: 22px;
    font-weight: 600;
    color: #aeaeae;
}

.div-gap {
    margin: 50px 0 0 0;
}

.main-section-img {
    max-width: 130px;
    width: 100%;
    margin: 0 auto;
    display: block;
    padding: 0 0 15px 0;
}

.main-section-text {
    color: #666666;
    font-size: 20px;
    text-align: center;
    line-height: 1.5;
    font-weight: 600;
    margin: 0;
}

.main-section-info {
    color: #999999;
    font-size: 16px;
    text-align: justify;
    line-height: 1.5;
    font-weight: 600;
    margin: 30px 0 0 0;
    padding: 0 15px;
}

.select-class-section {
    margin: 80px 0 0 0;
    padding: 15px 20px 5px 20px;
    background-color: #999999;
}

.select-class-section-grid {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row wrap;
    padding: 0;
}

.class-select-title {
    font-size: 25px;
    font-weight: 500;
    color: #fff;
    text-transform: uppercase;
    margin: 0;
}

.class-select-subtitle {
    font-size: 80px;
    font-weight: 700;
    color: #fff;
    margin: 0;
}

.styled-select {
    width: 100%;
    background-color: #fff;
    border-radius: 0;
    outline: none;
    letter-spacing: 1px;
    font-weight: 600;
    text-transform: uppercase;
    color: #696969;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
    margin: 0 0 10px 0;
}

.styled-select select:focus {
    outline: none;
}

.styled-select select {
    height: 60px;
    width: 100%;
    padding: 5px 30px;
    background: #fff;
    border: none;
    font-size: 26px;
    text-transform: uppercase;
    color: #696969;
    cursor: pointer;
    /*hide default down arrow in webkit */
    -webkit-appearance: none;
}

.height-diff {
    height: 130px;
    padding: 40px 0 0 0;
}

.styled-select select option:hover {
    color: #181818;
}

.select-icon {
    position: absolute;
    top: 15px;
    right: 12px;
    font-size: 34px;
}

.height-diff-select-icon {
    position: absolute;
    top: 50px;
    font-weight: 900;
    right: 12px;
    font-size: 34px;
}

select::-ms-expand {
    display: none;
}

.site-footer {
    background-color: #26272b;
    padding: 45px 0 20px;
    font-size: 15px;
    line-height: 24px;
    color: #737373;
    margin: 80px 0 0 0;
}

.site-footer hr {
    border-top-color: #bbb;
    opacity: 0.5
}

.site-footer hr.small {
    margin: 20px 0
}

.site-footer h6 {
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 5px;
    letter-spacing: 2px
}

.site-footer a {
    color: #737373;
}

.site-footer a:hover {
    color: #3366cc;
    text-decoration: none;
}

.footer-links {
    padding-left: 0;
    list-style: none
}

.footer-links li {
    display: block
}

.footer-links a {
    color: #737373
}

.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
    color: #3366cc;
    text-decoration: none;
}

.footer-links.inline li {
    display: inline-block
}

.site-footer .social-icons {
    text-align: right
}

.site-footer .social-icons a {
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin-left: 6px;
    margin-right: 0;
    border-radius: 100%;
    background-color: #33353d
}

.copyright-text {
    margin: 0
}

@media (max-width:991px) {
    .site-footer [class^=col-] {
        margin-bottom: 30px
    }
}

@media (max-width:767px) {
    .site-footer {
        padding-bottom: 0
    }

    .site-footer .copyright-text,
    .site-footer .social-icons {
        text-align: center
    }
}

.social-icons {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none
}

.social-icons li {
    display: inline-block;
    margin-bottom: 4px
}

.social-icons li.title {
    margin-right: 15px;
    text-transform: uppercase;
    color: #96a2b2;
    font-weight: 700;
    font-size: 13px
}

.social-icons a {
    background-color: #eceeef;
    color: #818a91;
    font-size: 16px;
    display: inline-block;
    line-height: 44px;
    width: 44px;
    height: 44px;
    text-align: center;
    margin-right: 8px;
    border-radius: 100%;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear
}

.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
    color: #fff;
    background-color: #29aafe
}

.social-icons.size-sm a {
    line-height: 34px;
    height: 34px;
    width: 34px;
    font-size: 14px
}

.social-icons a.facebook:hover {
    background-color: #3b5998
}

.social-icons a.twitter:hover {
    background-color: #00aced
}

.social-icons a.linkedin:hover {
    background-color: #007bb6
}

.social-icons a.dribbble:hover {
    background-color: #ea4c89
}

@media (max-width:767px) {
    .social-icons li.title {
        display: block;
        margin-right: 0;
        font-weight: 600
    }
}

/*Dashboard*/
#dashboard {
    margin-top: 50px;
}

.dashboard-logo-brand {
    color: #f90064 !important;
    font-weight: 500;
    font-size: 24px;

}

.dashboard-nav {
    background-color: #5c5c5c;
    padding: 2px 20px !important;
    letter-spacing: 1px;

}

.class-link {
    color: #f99500 !important;
    font-weight: 600;
    font-size: 22px;
    margin: 0;
    letter-spacing: 1px;
}

.top-head {
    background-color: #999999;
    padding: 10px;
}

.top-head-one {
    font-size: 24px;
    font-weight: 600;
    color: #181818;
    display: inline;
}

.top-head-two {
    font-size: 24px;
    font-weight: 600;
    color: #181818;
    display: inline;
    margin-left: 50px;
}

.info-section {
    background-color: #181818;
    padding: 20px 0;
}

.info-section-text-one {
    color: #f99500 !important;
    font-size: 52px;
    margin: 0;
    padding: 0;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
}

.info-section-text-two {
    color: #f90064 !important;
    font-size: 52px;
    margin: 0;
    padding: 0;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;

}

.info-section-text-three {
    color: #181818 !important;
    font-size: 34px;
    background-color: #cccccc;
    margin: 0 auto;
    padding: 5px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    width: fit-content;
    text-align: center;
}

.dashboard-section {
    margin: 20px 0;
}

.dashboard-left-section {
    border: 1px solid #dbdbdb !important;
}

.toggle_grid {
    display: grid;
    max-width: 450px;
    margin: 10px auto;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
}

.toggle-head {
    font-size: 24px;
    font-weight: 600;
    margin: 0;
    text-transform: uppercase;
    color: #363636;
}


.checkbox-label {
    display: block;
    background: #666666;
    height: 30px;
    width: 80px;
    border-radius: 50px;
    margin: 0 auto;
    position: relative;
    border: 1px solid #666666;
    box-shadow: 0 0 0 2px #666666;
}

.checkbox-label .on {
    display: block;
    position: absolute;
    z-index: 0;
    left: 0;
    opacity: 1;
    min-width: 300px;
    line-height: 50px;
    opacity: 0;
    color: #13bf11;
}

.checkbox-label .off {
    display: block;
    position: absolute;
    z-index: 0;
    right: 100px;
    text-align: right;
    opacity: 1;
    min-width: 320px;
    line-height: 50px;
    opacity: 1;
    color: #bbbbbb;
}

.checkbox-label:before {
    content: "";
    display: block;
    position: absolute;
    z-index: 1;
    top: 0px;
    left: 0px;
    border-radius: 50px;
    height: 28px;
    width: 28px;
    background: #f99500;
    /* box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2), 0 0 0 2px #dddddd; */
}

.checkbox {
    position: absolute;
    left: -5000px;
}

.checkbox:checked+.checkbox-label {
    background: #181818;
}

.checkbox:checked+.checkbox-label .on {
    left: 100px;
    opacity: 1;
}

.checkbox:checked+.checkbox-label .off {
    right: 0px;
    opacity: 0;
}

.checkbox:checked+.checkbox-label:before {
    left: 50px;
}

.checkbox.blue {
    position: absolute;
    left: -5000px;
}

.checkbox.blue+.checkbox-label .on {
    color: #181818;
}

.checkbox.blue:checked+.checkbox-label {
    background: #666666;
}

.checkbox.blue:checked+.checkbox-label .on {
    left: 100px;
    opacity: 1;
}

.checkbox.blue:checked+.checkbox-label .off {
    right: 0px;
    opacity: 0;
}

.checkbox.blue:checked+.checkbox-label:before {
    left: 50px;
    top: 0px;
    background-color: #f99500;
    border: none;
}

.main-dashboard-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px;
    align-items: center;
    margin: 35px;
}

#video__wrap {
    display: none;
}

.main-section {
    display: grid;
    grid-template-columns: 150px 1fr;
    grid-gap: 10px;
    background-color: #eaeaea;
    border: 1px solid #cfcfcf;
    padding: 0 10px;
    border-radius: 8px;
    height: 165px;
    align-items: flex-start;
}

.main-section-left {
    background-color: #fff;
    border: 1px solid #cfcfcf;
    height: 125px;
    position: relative;
    margin: 10px 0 0 0;

}

.main-section-left-img {
    max-width: 100%;
    height: 125px;
}

.title {
    font-size: 15px;
    margin: 10px 0 0 0;
    height: auto;
    padding: 3px 0 3px 0;
    font-weight: 600;
    color: #4d4d4d;
}

.video-time {
    color: #696969;
    font-size: 15px;
}

.action {
    margin: 60px 0 0 0;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 40px;
    justify-items: center;
    align-items: center;
}

.action-link {
    font-size: 14px;
    font-weight: 600;
    color: #666666;
}

.add-exception-section {
    background-color: #cc0000;
    grid-column: span 2;
    padding: 60px;
    margin: 20px 0;

}

.add-title {
    font-size: 30px;
    margin: 0;
    color: #FFF;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
}

.tooltip-comment {
    position: relative;
    display: inline-block;
}

.tooltip-comment .tooltiptext-comment {
    visibility: visible;
    width: 40px;
    background-color: #ff9900;
    color: #363636;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    font-size: 20px;
    bottom: 110%;
    left: 10%;
    margin: 0 auto;
}

.tooltip-comment .tooltiptext-comment::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #ff9900 transparent transparent transparent;
}

.tooltip-favourites {
    position: relative;
    display: inline-block;
}

.tooltip-favourites .tooltiptext-favourites {
    visibility: visible;
    width: 40px;
    background-color: #ff0066;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    font-size: 20px;
    z-index: 1;
    bottom: 110%;
    left: 35%;
    margin: 0 auto;
}

.tooltip-favourites .tooltiptext-favourites::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #ff0066 transparent transparent transparent;
}

.dashboard-right-section {
    background-color: #cccccc;
    padding: 20px;
    border: 2px solid #bababa;
}

.link-one {
    text-align: left;
    color: #ff9900;
    font-weight: 600;
    font-size: 24px;
    display: block;
    margin: 20px 0;
}

.left-ul {
    margin: 20px 0;
}

.left-ul li {
    list-style: none;
}

.left-ul-link {
    font-size: 28px;
    color: #9c9c9c;
    padding: 3px 0;
    font-weight: 600;
}

.prev-question {
    text-align: center;
    color: #ff9900;
    font-weight: 600;
    font-size: 18px;
    display: block;
    margin: 40px 0 0 0;
}


.subject-big {
    color: #999999;
    font-size: 80px;
    text-align: center;
    margin: 10px 0;
    padding: 0;
    font-weight: 600;
}

.btn-center {
    margin: 20px 0 10px 0;
    background-color: #99cccc;
    padding: 8px 40px;
    font-weight: 500;
    font-size: 20px;
    text-transform: uppercase;
    border: 1px solid #99cccc;
    cursor: pointer;
}

.btn-center:hover {
    background-color: #66a3a3;
    border: 1px solid #66a3a3;
}

@media screen and (max-width:550px) and (min-width:100px) {
    .toggle-head {
        font-size: 14px;
    }

    .main-dashboard-section {
        display: grid;
        grid-template-columns: 1fr;
    }
}

.play-icon {
    height: 25px !important;
}

.wrapper {
    position: relative;
    margin: 0 0 40px 0;
    box-shadow: unset !important;
}

.play-btn {
    position: absolute;
    z-index: 666;
    top: 84%;
    left: 14.5%;
    transform: translate(-50%, -50%);
    border: 0;
    padding: 8px;
    background-color: rgba(0, 0, 0, 0.8);
}

.play-btn:hover {
    cursor: pointer;
    background-color: #fff;
}

.play-btn:focus {
    outline: 0;
}

.top-bar {
    padding: 5px 10px;
    background-color: #323232;
}

.logo {
    font-size: 28px;
    text-transform: uppercase;
    color: #e88041;
    margin: 0;
    font-weight: 600;
}

.heading-wrap {
    margin: 60px 0 30px 0;
    width: 100%;
}

.heading-wrap-title {
    font-size: 26px;
    color: #9d0b0b;
    font-weight: 500;
    text-transform: uppercase;
    text-align-last: center;
    margin: 0 0 10px 0;
    display: block;
}

.heading-wrap-subtitle {
    background-color: #cc6600;
    color: #FFF;
    text-transform: uppercase;
    width: fit-content;
    font-size: 21px;
    margin: 0 auto 10px auto;
    display: block;
    text-align: center;
    padding: 5px 14px;
}

.heading-wrap-info {
    font-size: 40px;
    font-weight: 600;
    color: #9d0b0b;
    text-align: center;
}

.container-sm {
    max-width: 650px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.form-wrapper {
    margin: 40px 0 40px 0;
}

.extra-links {
    color: #181818;
    text-transform: uppercase;
    text-align: center;
    padding: 5px 0;
    display: block;
    font-weight: 600;
}

.form-new-fields {
    width: 100%;
    padding: 3px 10px;
    border: 1px solid #b1b1b1;
    color: #696969;
    height: 35px;
}


.form-new-fields:active,
.form-new-fields:focus {
    outline: none;
    border: 1px solid #9d0b0b;
}

.form-new-fields-top {
    padding: 3px 10px;
    border: 1px solid #333;
    color: #696969;
    height: 30px;
}

.form-new-fields-top:active,
.form-new-fields-top:focus {
    outline: none;
    border: 1px solid #9d0b0b;
}

.form-new-fields-btn {
    height: 30px !important;
    border-radius: 0;
}

.login-button {
    background-color: #9d0b0b;
    color: #fff;
    padding: 3px 20px;
    height: 35px;
    border: 1px solid #9d0b0b;
    width: 100%;
}

.other {
    margin: 0 auto 20px auto;
    display: block;
    text-align: center;
    font-weight: 500;
    font-size: 30px;
}

.outer-div {
    border: 1px solid #666666;
    padding: 25px 20px 0 20px;
    margin: 0 5px;
}

.cntr {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height: 37px;
    padding: 3px;
    border-radius: 3px;
    align-items: flex-start;
    background-color: #fff;
}

.md-radio {
    margin: 0 10px;
}

.md-radio input[type="radio"] {
    display: none;
}

.md-radio input[type="radio"]:checked+label:before {
    border-color: #4d4d4d;
    animation: ripple 0.2s linear forwards;
}

.md-radio input[type="radio"]:checked+label:after {
    transform: scale(1);
}

.md-radio label {
    display: block;
    position: relative;
    padding: 0 0 0 25px;
    margin: -5px 0 0 0;
    cursor: pointer;
    color: #666666;
    font-weight: 600;
    font-size: 24px;
}

.md-radio label:before,
.md-radio label:after {
    position: absolute;
    content: "";
    border-radius: 50%;
    transition: all 0.3s ease;
    transition-property: transform, border-color;
}

.md-radio label:before {
    left: 0;
    top: 5px;
    width: 20px;
    height: 20px;
    border: 1px solid #4d4d4d;
}

.md-radio label:after {
    top: 10px;
    left: 5px;
    width: 10px;
    height: 10px;
    transform: scale(0);
    background: #4d4d4d;
}

@keyframes ripple {
    0% {
        box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0);
    }

    50% {
        box-shadow: 0px 0px 0px 15px rgba(0, 0, 0, 0.1);
    }

    100% {
        box-shadow: 0px 0px 0px 15px rgba(0, 0, 0, 0);
    }
}

.outer-div-head {
    font-size: 28px;
    margin: 0;
    text-transform: uppercase;
    color: #8d8d8d;
}

.form-select-new {
    width: 100%;
    padding: 3px 10px;
    border: 1px solid #b1b1b1;
    color: #696969;
    height: 35px;
}

.form-select-new:active,
.form-select-new:focus {
    outline: none;
    border: 1px solid #9d0b0b;
}

.top-header {
    background-color: #333333 !important;
}

.top-dropdown {
    background-color: #da2d2d;
    padding: 10px;
}

.top-dropdown select {
    border: none;
    width: 100%;
    background: none;
    color: #FFF;
    font-size: 32px;
    text-transform: uppercase;
    font-weight: 600;
}

.top-menu-list {
    background-color: #9d0b0b;
    padding: 10px;
}

.top-menu-list ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
}

.top-menu-list ul li {
    list-style: none;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
}

.toggle-div-head {
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    margin: 40px auto 0 auto;
    text-transform: uppercase;
}

.col-grid-main {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    margin: 50px 15px;
    align-items: center;
}

.col-grid {
    margin: 0 0 50px 0;
}


.slick-slide {
    margin-left: 25px;
    margin-right: 5px;
}



.info-grid {
    background-color: #fff;
    border-right: 2px solid #696969;
    padding: 5px 20px;
    height: 100%;
    height: 165px;
}

.info-grid-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info-grid-header-text {
    font-size: 24px;
    margin: 0;
    color: #696969;
    font-weight: 600;
}

.info-grid-header-span {
    background-color: #181818;
    padding: 0px 4px 1px 4px;
    border-radius: 100px;
}

.info-grid-header-span a {
    color: #f99500;
    fill: #ff9900;
}

.info-grid-header-span i {
    font-size: 12px !important;
}

.info-grid-description {
    margin: 5px 0 0 0;
    font-size: 15px;
    line-height: 1.7;
    text-align: justify;
    color: #5c5b5b;
}

.review-link {
    text-align: right;
    color: #f93c88;
    font-weight: 600;
    display: block;
    margin: 10px 0 0px 0;
    padding: 0;
}

.secondary-icons {
    font-size: 70px;
    text-align: center;
    font-weight: 600;
    display: block;
    width: 100%;
    margin: 45px auto 0px auto;
}

.secondary-span {
    font-size: 18px;
    font-weight: 600;
    display: block;
    text-align: center;
}

#dashboard.slick-slider {
    position: relative;
}

.arrow_prev {
    position: absolute;
    top: 43%;
    left: 8px;
    font-size: 32px;
    color: #696969;
    font-weight: 600;
}

.arrow_next {
    position: absolute;
    top: 43%;
    right: 1px;
    font-size: 32px;
    color: #696969;
    font-weight: 600;
}

.arrow_prev_2 {
    position: absolute;
    top: 30%;
    left: -5px;
    font-size: 32px;
    color: #696969;
    font-weight: 600;
}

.arrow_next_2 {
    position: absolute;
    top: 30%;
    right: -10px;
    font-size: 32px;
    color: #696969;
    font-weight: 600;
}

.right-div {
    display: flex !important;
    justify-content: center;
}