@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=Poppins');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Nunito', sans-serif; */
    font-family: 'Poppins', sans-serif;
}

html,
body {
    font-size: 16px !important;
    font-weight: 400 !important;
    line-height: 1.5 !important;
    background: #f1f1f1 !important;
    /* font-family: 'Nunito', sans-serif; */
    font-family: 'Poppins', sans-serif;
    position: relative;
    min-height: 100vh;
    padding-bottom: 2.5rem;
}

img {
    vertical-align: middle;
}

ul {
    margin: 0 !important;
}

li {
    list-style: none;
}

iframe {
    width: 100%;
    height: 354px;
    border: none;
}

.wrapper {
    margin: 0 30px;
}

.wrapper__header {
    font-size: 28px;
    font-weight: 700;
    margin: 20px 0;
    padding: 0;
    border-bottom: 2px solid #990000;
}

.navigation {
    height: 70px;
    background: #990000;
}

.brand {
    position: absolute;
    float: left;
    line-height: 70px;
}

.brand a,
.brand a:visited {
    color: #ffffff;
    text-decoration: none;
}

.ask__icon {
    font-size: 32px;
    color: #5c5b5b;
}

nav {
    float: right;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    float: left;
    position: relative;
}

nav ul li a,
nav ul li a:visited {
    display: block;
    padding: 0 10px;
    font-weight: 400;
    font-size: 16px;
    line-height: 70px;
    background: #990000;
    color: #fff;
    text-decoration: none;
    transition: all .5s ease;

}

nav ul li a:hover,
nav ul li a:visited:hover {
    text-decoration: none;
    background-color: #222
}

nav ul li a:not(:only-child):after,
nav ul li a:visited:not(:only-child):after {
    padding-left: 1px;
    content: ' ▾';
}

nav ul li ul li {
    min-width: 180px;
    position: relative;
    margin-left: -30px;
}

nav ul li ul li a {
    padding: 15px;
    line-height: 20px;
}

.nav-dropdown {
    position: absolute;
    display: none;
    z-index: 999;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
}

/* Mobile navigation */
.nav-mobile {
    display: none;
    position: absolute;
    top: 0;
    right: 15px;
    height: 70px;
    width: 70px;
}

@media only screen and (max-width: 798px) {
    .nav-mobile {
        display: block;
    }

    nav {
        width: 100%;
        height: auto;
        position: absolute;
        z-index: 999;
        padding: 70px 0 15px;
    }

    nav ul {
        display: none;
    }

    nav ul li {
        float: none;
    }

    nav ul li a {
        padding: 15px;
        line-height: 20px;
    }

    nav ul li ul li a {
        padding-left: 10px;
    }

    .nav-dropdown {
        position: static;
    }

    nav ul li ul li {
        min-width: 165px;
        position: relative;
        margin-left: 0px;
    }

    .nav-list {
        margin-left: -15px !important;
        width: 100% !important;
    }
}

@media screen and (min-width: 799px) {
    .nav-list {
        display: block !important;
        width: 100% !important;
        height: 100% !important;
    }
}

#nav-toggle {
    position: absolute;
    left: 18px;
    top: 22px;
    cursor: pointer;
    padding: 10px 35px 16px 0px;
}

#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
    cursor: pointer;
    border-radius: 1px;
    height: 5px;
    width: 35px;
    background: #ffffff;
    position: absolute;
    display: block;
    content: '';
    transition: all 300ms ease-in-out;
}

#nav-toggle span:before {
    top: -10px;
}

#nav-toggle span:after {
    bottom: -10px;
}

#nav-toggle.active span {
    background-color: transparent;
}

#nav-toggle.active span:before,
#nav-toggle.active span:after {
    top: 0;
}

#nav-toggle.active span:before {
    transform: rotate(45deg);
}

#nav-toggle.active span:after {
    transform: rotate(-45deg);
}

/* ===== Select Box ===== */

.rule {
    margin: 10px 0;
    border: none;
    height: 1px;
    background-image: linear-gradient(left, #f0f0f0, #c9bbae, #f0f0f0);
}

.sel {
    display: block;
    margin: 1.5rem auto;
    width: 300px;
    background-color: transparent;
    position: relative;
    cursor: pointer;
}

.sel::before {
    position: absolute;
    font-weight: 900;
    content: "\f078";
    font-family: 'Font Awesome 5 Free';
    font-size: 1em;
    color: #4b4b4b;
    right: 0px;
    top: calc(50% - 0.8em);
}

.sel.active::before {
    transform: rotateX(-180deg);
}

.sel__placeholder {
    display: block;
    font-size: 1.2rem;
    color: #4b4b4b;
    padding: 0.2em 0;
    text-align: center;
    pointer-events: none;
    user-select: none;
    visibility: visible;
}

.sel.active .sel__placeholder {
    visibility: hidden;
}

.sel__placeholder::before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0.2em 0.5em;
    content: attr(data-placeholder);
    visibility: hidden;
}

.sel.active .sel__placeholder::before {
    visibility: visible;
}

.sel__box {
    position: absolute;
    top: calc(100% + 4px);
    left: -4px;
    display: none;
    list-style-type: none;
    text-align: left;
    font-size: 1rem;
    background-color: #FFF;
    width: calc(100% + 8px);
    box-sizing: border-box;
}

.sel.active .sel__box {
    display: block;
    animation: fadeInUp 500ms;
}

.sel__box__options {
    display: list-item;
    font-size: 1rem;
    color: #4b4b4b;
    padding: 0.5em 1em;
    user-select: none;
}

.sel__box__options::after {
    content: '\f00c';
    font-family: 'Font Awesome 5 Free';
    font-size: 0.5em;
    margin-left: 5px;
    display: none;
}

.sel__box__options.selected::after {
    display: inline;
}

.sel__box__options:hover {
    background-color: #ebedef;
}

.sel--sub {
    z-index: 3;
}

.sections {
    padding: 5px 0;
}

.section__header {
    color: #555555;
    font-weight: 900;
    font-size: 26px;
    margin: 0;
    padding: 10px 0 5px 10px;
    letter-spacing: 1px;
}

.product-carousel {
    box-sizing: border-box;
    padding: 10px;
    width: 300px;
}

.product-carousel .product {
    box-sizing: border-box;
    margin: 0 10px;
    text-align: center;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0, #181818 100%);
}

.product-carousel .product-top {
    width: 100%;
    position: relative;
    overflow: hidden;
}

.inner_product {
    position: absolute;
    z-index: 999;
    top: 55%;
    display: grid;
    grid-template-columns: 1fr;
    padding: 0 10px;
}

.inner_productQuiz {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
    height: 200px;
}

.inner_productTitle {
    font-size: 16px;
    letter-spacing: 1px;
    background-color: #990000;
    text-shadow: 0 2px 4px #00000033;
    padding: 3px;
    color: #f5f6f7;
    cursor: pointer;
    display: inline-block;
    width: 80px;
    text-align: center;
    margin: 0;
}

.inner_productTitleLink {
    font-size: 18px;
    background-color: #990000;
    padding: 5px;
    color: #f5f6f7;
    display: inline-block;
    width: auto;
    text-align: center;
    margin: 0;
    cursor: pointer;
    transition: all .5s ease;
    text-shadow: 0 2px 4px #00000033;
}

.inner_productTitleLink:focus {
    outline: none;
}

.inner_productTitleLink:hover {
    background-color: #750404;
    text-decoration: none;
    color: #fff;
}

.inner_productDescription {
    font-size: 16px;
    color: #fff;
    text-align: left;
    padding: 3px 0;
    margin: 0;
}

.product-image {
    align-self: flex-start;
    -webkit-transition: 0.4s ease;
    transition: 0.4s ease;
    cursor: pointer;
    -webkit-transition: 0.6s ease;
    transition: 0.6s ease;
}

.product-image:focus {
    outline: none;
}

.product-top:focus {
    outline: none;
}

/* .product-image:hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
} */

.product-top:hover .product-image {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}


/** ARROWS **/
.arrow {
    border: solid #000000;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 5px;
    font-weight: 900;
    position: absolute;
    top: calc(50% - 12px/2);
    cursor: pointer;
    text-shadow: 0 2px 4px #00000033 !important;
}

.right {
    right: -3px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.left {
    left: -3px;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.slick-slider {
    position: relative;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list {
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.slick-list:focus {
    outline: none;
}

.slick-list.dragging {
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    display: flex;
    position: relative;
    top: 0;
    left: 0;
}

.slick-loading .slick-track {
    visibility: hidden;
}

[dir='rtl'] .slick-slide {
    float: right;
}

.slick-slide.slick-loading img {
    display: none;
}

.slick-slide.dragging img {
    pointer-events: none;
}

.slick-loading .slick-slide {
    visibility: hidden;
}

.slick-vertical .slick-slide {
    height: auto;
    border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
    display: none;
}

.block__bodyFlex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px !important;
    flex-flow: column wrap;
}

.box {
    width: 100%;
    height: auto;
    border-radius: 3px;
    margin: 20px auto 30px auto;
}

.close__icon {
    font-size: 1rem;
}

.tags__header {
    font-size: 20px;
    padding: 0px 0 10px 0;
    font-weight: 700;
    color: #555555;
}

.tags__div {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-gap: 10px;
    align-items: center;
}

.tags__divInner {
    background-color: #e8e8e8;
    border: 1px solid #e8e8e8;
    color: #555;
    margin-bottom: 16px;
    padding: 5px;
    cursor: default;
}

.tags__divInner h1 {
    font-size: 14px;
    font-weight: 700;
    display: inline-block;
    margin: 0 auto;
    padding: 0;
    text-align: center;
}

.close__icon {
    color: #181818;
    font-weight: 900;
    cursor: pointer;
}

.close__icon:hover {
    color: #990000;
}

.cards-list {
    z-index: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 30px 0;
}

.card {
    margin: 30px auto;
    width: 300px;
    height: 300px;
    border-radius: 40px;
    box-shadow: 5px 5px 30px 7px rgba(0, 0, 0, 0.25), -5px -5px 30px 7px rgba(0, 0, 0, 0.22);
    cursor: pointer;
    transition: 0.4s;
}

.card .card_image {
    width: inherit;
    height: inherit;
    border-radius: 40px;
}

.card .card_image img {
    width: inherit;
    height: inherit;
    border-radius: 40px;
    object-fit: cover;
}

.card .card_title {
    text-align: center;
    border-radius: 0px 0px 40px 40px;
    font-weight: bold;
    font-size: 30px;
    margin-top: -80px;
    height: 40px;
}

.card:hover {
    transform: scale(0.9, 0.9);
    box-shadow: 5px 5px 30px 15px rgba(0, 0, 0, 0.25),
        -5px -5px 30px 15px rgba(0, 0, 0, 0.22);
}

.title-white {
    color: white;
}

.title-black {
    color: black;
}

@media all and (max-width: 500px) {
    .card-list {
        /* On small screens, we are no longer using row direction but column */
        flex-direction: column;
    }
}

.yt_carousel {
    position: relative;
}

.yt_carousel div {
    margin: 0 15px;
}

.yt_carouselInnerInfo {
    position: absolute;
    top: 80%;
    cursor: pointer;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0, #181818 100%);
    width: 100%;
    bottom: 0;
    padding-left: 40px;
}

.yt-playIcon {
    color: #fff;
    display: inline;
    font-size: 18px;
    text-shadow: 0 2px 4px #00000033;
}

.yt-header {
    color: #fff;
    display: inline-block;
    text-shadow: 0 2px 4px #00000033;
    font-size: 16px;
    padding: 5px 0 5px 10px;
}

.yt-playIconSub {
    color: #fff;
    display: inline;
    font-size: 18px;
    text-shadow: 0 2px 4px #00000033;
}

.yt-headerSub {
    color: #fff;
    display: inline;
    font-size: 16px;
    text-shadow: 0 2px 4px #00000033;
    padding-left: 10px;
    margin: 5px 0;
}

.modal-body {
    padding: 0 !important;
}

/*Login Page Css*/
.form__section {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    flex-direction: column !important;
    height: 100vh;
}

.sign_up {
    border-radius: 20px;
    border: 1px solid #990000;
    background-color: #990000;
    color: #fff;
    font-size: 14px;
    margin: 10px 0;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
    transition: transform 80ms ease-in;
}

.sign_up:active {
    transform: scale(0.95);
}

.sign_up:focus {
    outline: none;
}

.ghost {
    border-radius: 20px;
    border: 2px solid #696969;
    background-color: #fff;
    color: #363636;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
    transition: transform 80ms ease-in;
}

.ghost:focus {
    outline: none;
}

.__form {
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 25px;
    height: 100%;
    text-align: center;
}

.__form h1 {
    font-size: 28px;
}

.form-inputs {
    background-color: #eee;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
}

.form-inputs:focus {
    outline: none;
}

.div-container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
        0 10px 10px rgba(0, 0, 0, 0.22);
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
}

.form-container {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}

.sign-in-container {
    left: 0;
    width: 50%;
    z-index: 2;
}

.div-container.right-panel-active .sign-in-container {
    transform: translateX(100%);
}

.sign-up-container {
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
}

.div-container.right-panel-active .sign-up-container {
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: show 0.6s;
}

@keyframes show {

    0%,
    49.99% {
        opacity: 0;
        z-index: 1;
    }

    50%,
    100% {
        opacity: 1;
        z-index: 5;
    }
}

.overlay-container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: transform 0.6s ease-in-out;
    z-index: 100;
}

.div-container.right-panel-active .overlay-container {
    transform: translateX(-100%);
}

.overlay {
    background: #D3CCE3;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #E9E4F0, #D3CCE3);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #E9E4F0, #D3CCE3);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
    color: #FFFFFF;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}

.div-container.right-panel-active .overlay {
    transform: translateX(50%);
}

.overlay-panel {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    top: 0;
    height: 100%;
    width: 50%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}

.overlay-panel h1 {
    font-size: 28px;
}

.overlay-panel p {
    padding: 0 10px;
}

.overlay-left {
    transform: translateX(-20%);
}

.overlay-left h1 {
    color: #363636;
}


.overlay-left p {
    color: #363636;
    font-size: 14px;
    font-weight: 100;
    line-height: 20px;
    letter-spacing: 0.5px;
    margin: 20px 0 30px;
}

.overlay-right h1 {
    color: #363636;
}


.overlay-right p {
    color: #363636;
    font-size: 14px;
    font-weight: 100;
    line-height: 20px;
    letter-spacing: 0.5px;
    margin: 20px 0 30px;
}


.div-container.right-panel-active .overlay-left {
    transform: translateX(0);
}

.overlay-right {
    right: 0;
    transform: translateX(0);
}

.div-container.right-panel-active .overlay-right {
    transform: translateX(20%);
}

.form-select {
    background-color: #eee;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
}

.form-select:focus {
    outline: none;
    border: none;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
}

#footer {
    background-color: #343a40;
}

#footer_sub {
    background-color: #212529;
    padding: 0 30px;
}

.footer-main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    margin: 30px 0 0 0;
}

.footer_sub-list {
    display: grid;
    grid-template-columns: auto auto auto 1fr auto auto;
    grid-gap: 20px;
    align-items: center;
    justify-items: center;
    padding: 15px 0;
}

.footer_col {
    flex: 1;
    height: 150px;
    text-align: center;
}

.footerIcons {
    display: inline;
    color: #dee2e6;
    padding: 20px 10px 5px 0;
    font-size: 20px;
}

.footerHeader {
    display: inline;
    color: #dee2e6;
    padding: 15px 0 15px 0;
    font-size: 22px;
}

.footerDescription {
    color: #dee2e6;
    padding: 15px 0 15px 0;
    font-size: 16px;
}

.footer_sub-list li a {
    color: #dee2e6;
    text-decoration: none;
    list-style: none;
}

.footer_sub-list li img {
    display: block;
    margin: 5px auto 0 auto;
}

.owl-dot:focus {
    outline: none;
}

@media screen and (max-width:600px) and (min-width:100px) {
    .yt_image {
        width: 100% !important;
        height: 300px;
    }

    .tags__div {
        grid-template-columns: repeat(2, 1fr) !important;
    }

    .yt_carouselInnerInfo {
        padding-left: 10px !important;
    }

    .yt-header {
        font-size: 16px !important;
    }

    .wrapper {
        margin: 0 5px !important;
    }

    .footer-main {
        display: block;
        width: 100% !important;
    }

    .footer_sub-list {
        display: grid;
        grid-template-columns: 1fr !important;
    }

    .card__wrapper {
        grid-template-columns: 1fr !important;
    }

    .inner___downloadHeader {
        grid-column: 1/-1 !important;
    }

    .inner__download {
        grid-template-columns: auto auto !important;
    }

}

@media screen and (max-width:800px) and (min-width:601px) {
    .yt_image {
        width: 100% !important;
        height: 300px;
    }

    .tags__div {
        grid-template-columns: repeat(4, 1fr) !important;
    }

    .card__wrapper {
        grid-template-columns: 1fr !important;
    }

    .inner__download {
        grid-template-columns: 1fr !important;
    }

    .inner___downloadHeader {
        grid-column: 1/-1 !important;
    }

    .inner__download {
        grid-template-columns: 1fr 1fr !important;
    }
}


.otp__field {
    padding: 3px;
    width: 100%;
    display: block;
    margin: 0;
    border-radius: 3px;
    border: 1px solid #ccc;
}

.otp__field:focus {
    border: 1px solid #990000;
    outline: none !important;
}

.otp__label {
    font-size: 18px !important;
    margin: 0;
    padding: 3px 0;
    font-weight: 900 !important;
}

.otp__btn {
    background-color: #990000;
    border: 1px solid #990000;
    color: #fff;
    display: block;
    margin: 0 auto 10px auto;
    padding: 10px 20px;
    transition: all .5s ease-in;
    border-radius: 3px;
}

.otp__btn:hover {
    background-color: #770303;
    border: 1px solid #770303;
}

.container-contact100 {
    width: 100%;
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background: transparent;
    position: relative;
    z-index: 1;
}

.wrap-contact100 {
    width: 600px;
    background: #fff;
    border-radius: 8px;
    position: relative;
    margin-top: 55px;
    padding: 50px;
    box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
}

.contact100-form-symbol {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100px;
    height: 100px;
    border: 1px solid #e7e7e7;
    border-radius: 50%;
    background: #fff;
    top: -55px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}

.contact100-form {
    width: 100%;
}

.contact100-form-title {
    width: 100%;
    display: block;
    font-size: 38px;
    color: #696969;
    line-height: 1.2;
    text-align: center;
    padding-bottom: 15px;
}

.textareaWrapper {
    height: 400px;
    border: 1px solid #696969;
    border-radius: 8px;
}

.textareaWrapper:focus {
    outline: none !important;
}

.wrap-input100 {
    width: 400px;
    display: block;
    margin: 0 auto;
    position: relative;
    background-color: #fff;
    border: 1px solid #dbdbdb;
    border-radius: 2px;
    margin-bottom: 30px;
    border-radius: 8px;
}

.input100 {
    display: block;
    width: 100%;
    background: transparent;
    color: #333333;
    line-height: 1.2;
    border: none;
}

.input100:focus {
    outline: none;
}

.wrap-input100 ::placeholder {
    text-align: center;
}

input.input100 {
    height: 310px;
    padding: 0 20px 0 25px;
    font-size: 18px;
}

.textareaWrapperBtn {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #990000;
    padding: 15px 20px;
    border-radius: 8px;
    color: #fff;
    width: 150px;
    font-size: 18px;
    text-transform: uppercase;
    margin: 0 auto;
    transition: all .5s ease;
    cursor: pointer;
}

.textareaWrapperBtn:hover {
    color: #fff;
    background-color: #750505;
    text-decoration: none;
}

.prevBtn {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #777;
    padding: 15px 20px;
    border-radius: 8px;
    color: #fff;
    width: 400px;
    margin: 0 auto;
    font-size: 18px;
    transition: all .5s ease;
    cursor: pointer;
}

.prevBtn:hover {
    color: #fff;
    background-color: #4e4e4e;
    text-decoration: none;
}

@media (max-width: 768px) {
    .wrap-input100.rs1 {
        width: 100%;
    }
}

@media (max-width: 576px) {
    .wrap-contact100 {
        padding: 92px 15px 88px 15px;
    }

    .contact100-form-btn {
        width: 100%;
    }
}

.card__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 25px;
    align-items: center;
}

.download__card {
    background: #ddd;
    border-radius: 2px;
    display: inline-block;
    height: auto;
    margin: .5rem 0 0 0;
    padding: 1rem;
    position: relative;
    width: 100%;
    cursor: pointer;
    border-radius: 8px;
}

.card__sub {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.card__sub:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.inner__download {
    display: grid;
    justify-items: flex-start;
    align-items: center;
    grid-template-columns: 1fr auto auto;
    grid-gap: 10px;
}

.inner___downloadHeader {
    font-size: 18px;
    color: #363636;
    margin: 0;
    padding: 0;
    font-weight: 700;
    margin-top: 2px;
}

.inner___downloadLinkMain {
    background-color: #990000;
    color: #fff;
    padding: 8px;
    text-decoration: none;
    border-radius: 8px;
}

.inner___downloadLinkSub {
    background-color: #696969;
    color: #fff;
    padding: 8px;
    text-decoration: none;
    border-radius: 8px;
}

.inner___downloadLinkMain:hover {
    color: #fff;
    text-decoration: none;
}

.inner___downloadLinkSub:hover {
    color: #fff;
    text-decoration: none;
}

.inner___downloadIcon {
    margin-left: 2px;
    font-size: 18px;
}