@import url('https://fonts.googleapis.com/css?family=Quicksand');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

html,
body {
    font-size: 16px !important;
    font-weight: 400 !important;
    line-height: 1.5 !important;
    background: #f1f1f1 !important;
    font-family: 'Quicksand', sans-serif;
    position: relative;
    min-height: 100vh;
    padding-bottom: 2.5rem;
}

img {
    vertical-align: middle;
}

ul {
    margin: 0 !important;
}

li {
    list-style: none;
}

iframe {
    width: 100%;
    height: 354px;
    border: none !important;
}

.wrapper {
    margin: 0 30px;
}


.navigation {
    height: 70px;
    background: #990000;
}

.nav-container {
    margin: 0 30px;
}

.brand {
    position: absolute;
    float: left;
    line-height: 70px;
}

.brand a,
.brand a:visited {
    color: #ffffff;
    text-decoration: none;
}

.ask__icon {
    font-size: 32px;
    color: #5c5b5b;
}

nav {
    float: right;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    float: left;
    position: relative;
}

nav ul li a,
nav ul li a:visited {
    display: block;
    padding: 0 10px;
    font-weight: 400;
    font-size: 16px;
    line-height: 70px;
    background: #990000;
    color: #fff;
    text-decoration: none;
    transition: all 0.5s ease;
}

nav ul li a:hover,
nav ul li a:visited:hover {
    text-decoration: none;
    background-color: #222;
}

nav ul li a:not(:only-child):after,
nav ul li a:visited:not(:only-child):after {
    padding-left: 1px;
    content: " ▾";
}

nav ul li ul li {
    min-width: 180px;
    position: relative;
    margin-left: -30px;
}

nav ul li ul li a {
    padding: 15px;
    line-height: 20px;
}

.nav-dropdown {
    position: absolute;
    display: none;
    z-index: 999;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
}

/* Mobile navigation */
.nav-mobile {
    display: none;
    position: absolute;
    top: 0;
    right: 30px;
    height: 70px;
    width: 70px;
}

@media only screen and (max-width: 798px) {
    .nav-mobile {
        display: block;
    }

    nav {
        width: 100%;
        height: auto;
        position: absolute;
        z-index: 999;
        padding: 70px 0 15px;
    }

    nav ul {
        display: none;
    }

    nav ul li {
        float: none;
    }

    nav ul li a {
        padding: 15px;
        line-height: 20px;
    }

    nav ul li ul li a {
        padding-left: 10px;
    }

    .nav-dropdown {
        position: static;
    }

    nav ul li ul li {
        min-width: 165px;
        position: relative;
        margin-left: 0px;
    }

    .nav-list {
        margin-left: -15px !important;
        width: 100% !important;
    }
}

@media screen and (min-width: 799px) {
    .nav-list {
        display: block !important;
        width: 100% !important;
        height: 100% !important;
    }
}

#nav-toggle {
    position: absolute;
    left: 18px;
    top: 22px;
    cursor: pointer;
    padding: 10px 35px 16px 0px;
}

#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
    cursor: pointer;
    border-radius: 1px;
    height: 5px;
    width: 35px;
    background: #ffffff;
    position: absolute;
    display: block;
    content: "";
    transition: all 300ms ease-in-out;
}

#nav-toggle span:before {
    top: -10px;
}

#nav-toggle span:after {
    bottom: -10px;
}

#nav-toggle.active span {
    background-color: transparent;
}

#nav-toggle.active span:before,
#nav-toggle.active span:after {
    top: 0;
}

#nav-toggle.active span:before {
    transform: rotate(45deg);
}

#nav-toggle.active span:after {
    transform: rotate(-45deg);
}

/*Login Page Css*/
.form__section {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    flex-direction: column !important;
    height: 100vh;
}

.sign_up {
    border-radius: 5px;
    border: 1px solid #990000;
    background-color: #990000;
    color: #fff;
    font-size: 12px;
    margin: 10px 0;
    font-weight: bold;
    padding: 8px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 80ms ease-in;
}

.sign_up:hover {
    background-color: #7a0303;
}

.sign_up:active {
    transform: scale(0.95);
}

.sign_up:focus {
    outline: none;
}

.ghost {
    border-radius: 5px;
    border: 2px solid #696969;
    background-color: #fff;
    color: #363636;
    font-size: 12px;
    font-weight: bold;
    padding: 8px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
    margin-top: 5px;
    transition: all 80ms ease-in;
}

.ghost:hover {
    background-color: #5c5b5b;
    border: 2px solid #5c5b5b;
    color: #fff;
}

.ghost:focus {
    outline: none;
}

.__form {
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 25px;
    height: 100%;
    text-align: center;
}

.__form_2 {
    width: 100% !important;
    background: none !important;
}

.__form h1 {
    font-size: 28px;
}

.form-inputs {
    background-color: #eee;
    border: none;
    padding: 6px 15px;
    margin: 8px 0;
    width: 100%;
    border-radius: 5px;
}

.form-inputs ::placeholder {
    font-size: 12px;
}

.form-inputs:focus {
    outline: none;
}

.div-container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 525px;
}

.form-container {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}

.sign-in-container {
    left: 0;
    width: 50%;
    z-index: 2;
}

.div-container.right-panel-active .sign-in-container {
    transform: translateX(100%);
}

.sign-up-container {
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
}

.div-container.right-panel-active .sign-up-container {
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: show 0.6s;
}

@keyframes show {

    0%,
    49.99% {
        opacity: 0;
        z-index: 1;
    }

    50%,
    100% {
        opacity: 1;
        z-index: 5;
    }
}

.overlay-container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: transform 0.6s ease-in-out;
    z-index: 100;
}

.div-container.right-panel-active .overlay-container {
    transform: translateX(-100%);
}

.overlay {
    background: #d3cce3;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #e9e4f0, #d3cce3);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #e9e4f0, #d3cce3);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
    color: #ffffff;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}

.div-container.right-panel-active .overlay {
    transform: translateX(50%);
}

.overlay-panel {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    top: 0;
    height: 100%;
    width: 50%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}

.overlay-panel h1 {
    font-size: 28px;
}

.overlay-panel p {
    padding: 0 10px;
}

.overlay-left {
    transform: translateX(-20%);
    padding: 20px;
}

.overlay-left h1 {
    color: #363636;
}

.overlay-left p {
    color: #363636;
    font-size: 14px;
    font-weight: 100;
    line-height: 20px;
    letter-spacing: 0.5px;
    margin: 20px 0 30px;
}

.overlay-right h1 {
    color: #363636;
}

.overlay-right p {
    color: #363636;
    font-size: 14px;
    font-weight: 100;
    line-height: 20px;
    letter-spacing: 0.5px;
    margin: 20px 0 30px;
}

.div-container.right-panel-active .overlay-left {
    transform: translateX(0);
}

.overlay-right {
    right: 0;
    padding: 20px;
    transform: translateX(0);
}

.div-container.right-panel-active .overlay-right {
    transform: translateX(20%);
}

.form-select {
    background-color: #eee;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
}

.form-select:focus {
    outline: none;
    border: none;
}

.or {
    margin: 30px 0 0 0;
}

._bar {
    flex: auto;
    border: none;
    height: 5px;
    margin: 0;
    visibility: visible;
    z-index: 9999;
    background-color: #696969;
}

.or span {
    color: #181818;
    font-weight: 900;
    font-size: 18px;
    padding: 0 0.5rem;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
}

#footer {
    background-color: #343a40;
}

#footer_sub {
    background-color: #212529;
    padding: 0 30px;
}

.footer-main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    margin: 30px 0 0 0;
}

.footer_sub-list {
    display: grid;
    grid-template-columns: auto auto auto 1fr auto auto;
    grid-gap: 20px;
    align-items: center;
    justify-items: center;
    padding: 15px 0;
}

.footer_col {
    flex: 1;
    height: 150px;
    text-align: center;
}

.footerIcons {
    display: inline;
    color: #dee2e6;
    padding: 20px 10px 5px 0;
    font-size: 20px;
}

.footerHeader {
    display: inline;
    color: #dee2e6;
    padding: 15px 0 15px 0;
    font-size: 22px;
}

.footerDescription {
    color: #dee2e6;
    padding: 15px 0 15px 0;
    font-size: 16px;
}

.footer_sub-list li a {
    color: #dee2e6;
    text-decoration: none;
    list-style: none;
}

.footer_sub-list li img {
    display: block;
    margin: 5px auto 0 auto;
}

@media screen and (max-width: 600px) and (min-width: 100px) {


    .footer-main {
        display: block;
        width: 100% !important;
    }

    .footer_sub-list {
        display: grid;
        grid-template-columns: 1fr !important;
    }

}