.main-content {
    position: relative;
}

.main-content .owl-theme .custom-nav {
    position: absolute;
    top: 15%;
    left: 0;
    right: 0;
}

.main-content .owl-theme .custom-nav .owl-prev,
.main-content .owl-theme .custom-nav .owl-next {
    position: absolute;
    height: 100px;
    color: inherit;
    background: none;
    border: none;
    z-index: 100;
}

.main-content .owl-theme .custom-nav .owl-prev i,
.main-content .owl-theme .custom-nav .owl-next i {
    font-size: 2.5rem;
    color: #cecece;
}

.main-content .owl-theme .custom-nav .owl-prev {
    left: 0;
}

.main-content .owl-theme .custom-nav .owl-next {
    right: 0;
}