@import url('https://fonts.googleapis.com/css?family=Quicksand');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

html,
body {
    font-size: 16px !important;
    font-weight: 400 !important;
    line-height: 1.5 !important;
    background: #f1f1f1 !important;
    font-family: 'Quicksand', sans-serif;
    position: relative;
    min-height: 100vh;
    padding-bottom: 2.5rem;
}

img {
    vertical-align: middle;
}

ul {
    margin: 0 !important;
}

li {
    list-style: none;
}

iframe {
    width: 100%;
    height: 354px;
    border: none !important;
}

.wrapper {
    margin: 0 30px;
}

.navigation {
    height: 70px;
    background: #990000;
}

.nav-container {
    margin: 0 30px;
}

.brand {
    position: absolute;
    float: left;
    line-height: 70px;
}

.brand a,
.brand a:visited {
    color: #ffffff;
    text-decoration: none;
}

.ask__icon {
    font-size: 32px;
    color: #5c5b5b;
}

nav {
    float: right;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    float: left;
    position: relative;
}

nav ul li a,
nav ul li a:visited {
    display: block;
    padding: 0 10px;
    font-weight: 400;
    font-size: 16px;
    line-height: 70px;
    background: #990000;
    color: #fff;
    text-decoration: none;
    transition: all 0.5s ease;
}

nav ul li a:hover,
nav ul li a:visited:hover {
    text-decoration: none;
    background-color: #222;
}

nav ul li a:not(:only-child):after,
nav ul li a:visited:not(:only-child):after {
    padding-left: 1px;
    content: " ▾";
}

nav ul li ul li {
    min-width: 180px;
    position: relative;
    margin-left: -30px;
}

nav ul li ul li a {
    padding: 15px;
    line-height: 20px;
}

.nav-dropdown {
    position: absolute;
    display: none;
    z-index: 999;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
}

/* Mobile navigation */
.nav-mobile {
    display: none;
    position: absolute;
    top: 0;
    right: 30px;
    height: 70px;
    width: 70px;
}

@media only screen and (max-width: 798px) {
    .nav-mobile {
        display: block;
    }

    nav {
        width: 100%;
        height: auto;
        position: absolute;
        z-index: 999;
        padding: 70px 0 15px;
    }

    nav ul {
        display: none;
    }

    nav ul li {
        float: none;
    }

    nav ul li a {
        padding: 15px;
        line-height: 20px;
    }

    nav ul li ul li a {
        padding-left: 10px;
    }

    .nav-dropdown {
        position: static;
    }

    nav ul li ul li {
        min-width: 165px;
        position: relative;
        margin-left: 0px;
    }

    .nav-list {
        margin-left: -30px !important;
        width: 100% !important;
    }
}

@media screen and (min-width: 799px) {
    .nav-list {
        display: block !important;
        width: 100% !important;
        height: 100% !important;
    }
}

#nav-toggle {
    position: absolute;
    left: 18px;
    top: 22px;
    cursor: pointer;
    padding: 10px 35px 16px 0px;
}

#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
    cursor: pointer;
    border-radius: 1px;
    height: 5px;
    width: 35px;
    background: #ffffff;
    position: absolute;
    display: block;
    content: "";
    transition: all 300ms ease-in-out;
}

#nav-toggle span:before {
    top: -10px;
}

#nav-toggle span:after {
    bottom: -10px;
}

#nav-toggle.active span {
    background-color: transparent;
}

#nav-toggle.active span:before,
#nav-toggle.active span:after {
    top: 0;
}

#nav-toggle.active span:before {
    transform: rotate(45deg);
}

#nav-toggle.active span:after {
    transform: rotate(-45deg);
}

.main_form {
    background: #343a40;
    padding: 20px;
    max-width: 600px;
    margin: 20px auto;
    border-radius: 4px;
    box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
}

.main_form .tab-group {
    list-style: none;
    padding: 0;
    margin: 0 0 20px 0;
}

.main_form .tab-group:after {
    content: "";
    display: table;
    clear: both;
}

.main_form .tab-group li a {
    display: block;
    text-decoration: none;
    padding: 15px;
    background: #5c5b5b;
    color: #fff;
    font-size: 20px;
    float: left;
    width: 50%;
    text-align: center;
    cursor: pointer;
    transition: .5s ease;
}

.main_form .tab-group .active a {
    background: #4d4d4d;
    color: #ffffff;
}

.main_form .tab-content>div:last-child {
    display: none;
}

.main_form h1 {
    text-align: center;
    color: #ffffff;
    font-weight: 300;
    margin: 20px 0;
    font-size: 24px;
}

.main_form label {
    position: absolute;
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
    left: 13px;
    color: rgba(255, 255, 255, 0.5);
    transition: all 0.25s ease;
    -webkit-backface-visibility: hidden;
    pointer-events: none;
    font-size: 16px;
}

.main_form label.active {
    -webkit-transform: translateY(50px);
    transform: translateY(-20px);
    left: 2px;
    font-size: 14px;
}

.main_form label.active .req {
    opacity: 0;
}

.main_form label.highlight {
    color: #ffffff;
}

.main_form input,
.main_form textarea {
    font-size: 16px;
    display: block;
    width: 100%;
    height: 100%;
    padding: 8px 20px;
    background: none;
    background-image: none;
    border: 1px solid #a0b3b0;
    color: #ffffff;
    border-radius: 0;
    transition: border-color .25s ease, box-shadow .25s ease;
}

.main_form input:focus,
.main_form textarea:focus {
    outline: 0;
    border-color: #181818;
}

.main_form textarea {
    border: 2px solid #a0b3b0;
    resize: vertical;
}

.field-wrap {
    position: relative;
    margin-bottom: 30px;
}

.top-row:after {
    content: "";
    display: table;
    clear: both;
}

.top-row>div {
    float: left;
    width: 48%;
    margin-right: 4%;
}

.top-row>div:last-child {
    margin: 0;
}

.main_form .button {
    border: 0;
    outline: none;
    border-radius: 0;
    padding: 10px 0;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .1em;
    background: #4d4d4d;
    color: #ffffff;
    transition: all 0.5s ease;
    -webkit-appearance: none;
}

.main_form .button:hover,
.main_form .button:focus {
    background: #696969;
}

.main_form .button-block {
    display: block;
    width: 100%;
}

.main_form .forgot {
    margin-top: -20px;
    text-align: right;
}

.main_form a {
    color: #fff;
}

.main_form a:hover {
    color: #f5f6f7;
    text-decoration: none;
}

.page_header {
    font-size: 18px;
    color: #5c5b5b;
    text-align: justify;
    margin: 10px 0;
}

.page_div {
    background: #fff;
    border-radius: 4px;
    display: inline-block;
    height: auto;
    margin: 1rem 0;
    padding: .5rem;
    position: relative;
    width: 100%;
}

.__card {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
}

#footer {
    background-color: #343a40;
}

#footer_sub {
    background-color: #212529;
    padding: 0 30px;
}

.footer-main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    margin: 30px 0 0 0;
}

.footer_sub-list {
    display: grid;
    grid-template-columns: auto auto auto 1fr auto auto;
    grid-gap: 20px;
    align-items: center;
    justify-items: center;
    padding: 15px 0;
}

.footer_col {
    flex: 1;
    height: 150px;
    text-align: center;
}

.footerIcons {
    display: inline;
    color: #dee2e6;
    padding: 20px 10px 5px 0;
    font-size: 20px;
}

.footerHeader {
    display: inline;
    color: #dee2e6;
    padding: 15px 0 15px 0;
    font-size: 22px;
}

.footerDescription {
    color: #dee2e6;
    padding: 15px 0 15px 0;
    font-size: 16px;
}

.footer_sub-list li a {
    color: #dee2e6;
    text-decoration: none;
    list-style: none;
}

.footer_sub-list li img {
    display: block;
    margin: 5px auto 0 auto;
}

@media screen and (max-width: 600px) and (min-width: 100px) {


    .footer-main {
        display: block;
        width: 100% !important;
    }

    .footer_sub-list {
        display: grid;
        grid-template-columns: 1fr !important;
    }


}