@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

html,
body {
    font-size: 16px !important;
    font-weight: 400 !important;
    line-height: 1.5 !important;
    background: #f0f1f2 !important;
    font-family: 'Open Sans', sans-serif;
    position: relative;
    min-height: 100vh;
    padding-bottom: 1.5rem;
}

img {
    vertical-align: middle;
}

ul {
    margin: 0 !important;
}

li {
    list-style: none;
}

iframe {
    width: 100%;
    height: 354px;
    border: none !important;
}

.wrapper {
    max-width: 1170px;
    margin: auto 30px;
}

.wrapper__header {
    font-size: 28px;
    font-weight: 700;
    margin: 20px 0;
    padding: 0;
    border-bottom: 2px solid #990000;
}

.navigation {
    height: 70px;
    background: #990000;
}

.nav-container {
    margin: 0 30px;
}

.brand {
    position: absolute;
    float: left;
    line-height: 70px;
}

.brand a,
.brand a:visited {
    color: #ffffff;
    text-decoration: none;
}

.ask__icon {
    font-size: 32px;
    color: #5c5b5b;
}

nav {
    float: right;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    float: left;
    position: relative;
}

nav ul li a,
nav ul li a:visited {
    display: block;
    padding: 0 10px;
    font-weight: 400;
    font-size: 16px;
    line-height: 70px;
    background: #990000;
    color: #fff;
    text-decoration: none;
    transition: all 0.5s ease;
}

nav ul li a:hover,
nav ul li a:visited:hover {
    text-decoration: none;
    background-color: #222;
    text-decoration: none;
    color: #fff;
}

nav ul li a:not(:only-child):after,
nav ul li a:visited:not(:only-child):after {
    padding-left: 1px;
    content: " ▾";
}

nav ul li ul li {
    min-width: 195px;
    position: relative;
    margin-left: -30px;
}

nav ul li ul li a {
    padding: 15px 0;
    line-height: 20px;
}

.nav-dropdown {
    position: absolute;
    display: none;
    z-index: 999;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
    background-color: #f5f6f7;
}

/* Mobile navigation */
.nav-mobile {
    display: none;
    position: absolute;
    top: 0;
    right: 30px;
    height: 70px;
    width: 70px;
}

@media only screen and (max-width: 798px) {
    .nav-mobile {
        display: block;
    }

    nav {
        width: 100%;
        height: auto;
        position: absolute;
        z-index: 999;
        padding: 70px 0 15px;
    }

    nav ul {
        display: none;
    }

    nav ul li {
        float: none;
    }

    nav ul li a {
        padding: 15px;
        line-height: 20px;
    }

    nav ul li ul li a {
        padding-left: 10px;
    }

    .nav-dropdown {
        position: static;
    }

    nav ul li ul li {
        min-width: 165px;
        position: relative;
        margin-left: 0px;
    }

    .nav-list {
        margin-left: -15px !important;
        width: 100% !important;
    }
}

@media screen and (min-width: 799px) {
    .nav-list {
        display: block !important;
        width: 100% !important;
        height: 100% !important;
    }
}

#nav-toggle {
    position: absolute;
    left: 18px;
    top: 22px;
    cursor: pointer;
    padding: 10px 35px 16px 0px;
}

#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
    cursor: pointer;
    border-radius: 1px;
    height: 5px;
    width: 35px;
    background: #ffffff;
    position: absolute;
    display: block;
    content: "";
    transition: all 300ms ease-in-out;
}

#nav-toggle span:before {
    top: -10px;
}

#nav-toggle span:after {
    bottom: -10px;
}

#nav-toggle.active span {
    background-color: transparent;
}

#nav-toggle.active span:before,
#nav-toggle.active span:after {
    top: 0;
}

#nav-toggle.active span:before {
    transform: rotate(45deg);
}

#nav-toggle.active span:after {
    transform: rotate(-45deg);
}

select:active,
select:hover {
    outline: none
}

.topic__wrapper {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    margin: 0 0 50px 0;
    padding-bottom: 15px;
    border-bottom: 1px solid #ccc;
}

.select_wrap {
    width: 100%;
    text-align: center;
    margin: 2rem 0 0 0
}

.topic__header {
    font-size: 28px;
    font-weight: 900;
    color: #363636;
    text-align: center;
    display: inline;
    margin: 2rem 0 0 0;
    padding: 0 0 0 10rem;
    text-shadow: 0 2px 4px #00000033;
    letter-spacing: 1px;
}

.select_topic {
    width: 300px;
    border: none;
    background: none;
    font-size: 18px;
    color: #5c5b5b;
    font-weight: 700;
}

.select_topic:focus {
    outline: none;
}

.select_topic option {
    color: #5c5b5b !important;
    font-weight: 900;
    font-size: 15px;
}

.select_topic option:hover {
    background: none !important;

}

option:focus {
    outline: none;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 1.5rem;
}

#footer {
    background-color: #343a40;
}

#footer_sub {
    background-color: #212529;
    padding: 0 30px;
}

.footer-main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    margin: 30px 0 0 0;
}

.footer_sub-list {
    display: grid;
    grid-template-columns: auto auto auto 1fr auto auto;
    grid-gap: 20px;
    align-items: center;
    justify-items: center;
    padding: 15px 0;
}

.footer_col {
    flex: 1;
    height: 150px;
    text-align: center;
}

.footerIcons {
    display: inline;
    color: #dee2e6;
    padding: 20px 10px 5px 0;
    font-size: 20px;
}

.footerHeader {
    display: inline;
    color: #dee2e6;
    padding: 15px 0 15px 0;
    font-size: 22px;
}

.footerDescription {
    color: #dee2e6;
    padding: 15px 0 15px 0;
    font-size: 16px;
}

.footer_sub-list li a {
    color: #dee2e6;
    text-decoration: none;
    list-style: none;
}

.footer_sub-list li img {
    display: block;
    margin: 5px auto 0 auto;
}

.course_name_wrapper {
    width: 100%;
    background-color: #990000;
    border-top: 1px solid #fff;
    padding: 50px 0;
}

.course_name_wrapper h1 {
    font-size: 30px;
    color: #fff;
    font-weight: 700;
    letter-spacing: 1px;
    margin: 0;
    padding: 0;
}

.course_name_wrapper h2 {
    color: #ffffffa3 !important;
    font-size: 16px;
    padding: 2px 0;
    margin: 0;
    font-weight: 700;
    letter-spacing: 1px;
}

.row-gap {
    padding-top: 30px;
}

/* .divider {
    border-right: 2px solid #ccc;
    height: 100%;
} */

.col_left {
    padding: 15px 0;
    box-shadow: 0 20px 40px 0 #00000038, 0px 20px 14px 0 #00000033;
    background: #fefefe;
    height: 100%;
    border-radius: 4px;
}

.col_right {
    padding: 15px 0;
    box-shadow: 0 20px 40px 0 #00000038, 0px 20px 14px 0 #00000033;
    background: #fefefe;
    height: 100%;
    border-radius: 4px;
}

.col_left_header {
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale !important;
    display: block !important;
    font-weight: 700 !important;
    font-size: 20px !important;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px !important;
}

.col_right_header {
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale !important;
    display: block !important;
    font-weight: 700 !important;
    font-size: 20px !important;
    border-bottom: 1px solid #ccc;
    padding-bottom: 12px !important;
    text-align: center;
}

.course_list {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-flow: column wrap;
}

.course_list li {
    padding: 10px 0;
    list-style: none;
}

.course_list li a {
    font-size: 17px;
    color: #5c5b5b;
    font-weight: 700;
    text-decoration: none;
}

.course_list li a:hover {
    color: #181818;
    text-decoration: none;
}

.col_card {
    background: #fff;
    border-radius: 4px;
    display: inline-block;
    position: relative;
    width: 100%;
    height: auto;
    padding: 15px;
    margin: 1rem 0;
    border-top: 4px solid #990000;
    transition: all .5s ease-in;
    cursor: default;
}

.col_card_effect {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.col_card_effect:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.col_icons {
    margin-right: 5px;
    font-size: 18px;
}

.col_para {
    font-size: 15px;
    font-weight: 700;
    color: #5c5b5b;
    line-height: 1.7;
}